<?xml version="1.0" encoding="utf-8"?>
<component name="Settings" extends="JRScreen">
  <children>
    <LabelSecondaryMedium id="versionLabel" translation="[96,112]" />
    <LabelPrimarySmaller id="path" translation="[96,170]" bold="true" />

    <JRLabelList
      translation="[106,236]"
      id="settingsMenu"
      itemSize="[552,54]" />

    <Poster
      translation="[710,226]" id="rightPanelBackground" width="1114" height="800" uri="pkg:/images/9patch/filled-rounded.9.png" />

    <LayoutGroup translation="[1268,270]" id="settingDetail" vertAlignment="top" horizAlignment="center" itemSpacings="[50]">
      <LabelPrimaryMedium id="settingDesc"
        width="1030"
        wrap="true"
        horizAlign="center"
        translation="[750,270]" />

      <RadioButtonList id="radioSetting" vertFocusAnimationStyle="floatingFocus" />
    </LayoutGroup>

    <RadioButtonList id="boolSetting" vertFocusAnimationStyle="floatingFocus" translation="[1034, 510]">
      <ContentNode role="content">
        <ContentNode Title="Disabled" />
        <ContentNode Title="Enabled" />
      </ContentNode>
    </RadioButtonList>

    <IntegerKeyboard translation="[1034, 510]" id="integerSetting" domain="numeric" visible="false" />

    <HexKeyboard translation="[1034, 510]" id="hexSetting" visible="false" />

  </children>
</component>